.login{
    padding-top:7%;
    background: url("./pic/1.jpg") no-repeat ;
    background-size: cover; 
    height: 950px;
    text-align: center;
    font-size: 40px;
}
.one{
    opacity: 0.7;
}
.two{
    opacity: 0.8;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;

}

.number{
    color:b;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}


